*{
    margin : 0;
    font-family: arial;
  
  }  
  header{
      padding: 20px;
      border: 4px dashed #d60e7f;
  }
      body{
      font-family: 'arial';
      background-color: #860b8f;
      color:rgba(230, 77, 222, 0.387);
      margin:10px auto;
      text-align: center;
  }
  
  .menu{
  color:rgb(164, 19, 231);
  text-decoration: 0;
  font-size: 24px;
  margin: 5px;
  padding: 5px auto;
  }
  
  .menu:hover{
      text-decoration: underline;
  }
  
  .box{
      width:300px;
      height:200px;
      background-color: #ac1985;
      border-radius: 10px;
      margin:2%;
  }
  .nav{
      text-align: center;
      padding: 2% 0;
  }
  #a{
      background-color:rgb(203, 155, 221);
      margin:0;
      border-radius: 10px;
      display:flex;
      margin: 0px 10%;
      justify-content: space-around;
      min-height: 100 vh;
  }
  
  #b{
      background-color:rgb(185, 113, 113);
      margin:0;
  }
  #tituloPrincipal{
      color:rgb(255, 0, 174);
      font-size: 40px;
      font-family:'Times New Roman';
      text-align: center;
  }
  
  ul{
      font-size: 28px;
      color: rgba(31, 0, 116, 0.334);
  }
  ol{
      font-size: 28px;
      color: rgb(162, 84, 208);
  
  }
  p{
      color: aliceblue;
      font-size: 16px;
      text-align:justify;
      padding: 10px;
      }
  #imagem {
      width: 500px;
      margin:10px auto;
  }
  
  .footer{
      background-color: #000000;
      color:azure;
     
  
  }